<form method='POST' action='/main/grabarDocente'>
    {{#if grupo}}
        <h3>
            <a href='/main/consultarConjuntoInstituciones?nombreUsuario={{nombreUsuario}}'>Instituciones</a> |
            <a href="/main/presentarInstitucion?id={{grupo.curso.programa.institucion.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.curso.programa.institucion.nombre}}</a> |
            <a href="/main/presentarPrograma?id={{grupo.curso.programa.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.curso.programa.nombre}}</a> |
            <a href="/main/presentarCurso?id={{grupo.curso.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.curso.nombre}}</a> |
            <a href="/main/presentarGrupo?id={{grupo.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.nombre}}</a> |
        </h3>
        <h3>Docentes</h3>
        <li><a href="/main/presentarDocente?id={{id}}?nombreUsuario={{nombreUsuario}}">{{grupo.docente.identificacion}}</a> - {{grupo.docente.nombres}} {{grupo.docente.apellidos}} - {{grupo.docente.correo}}</li>
        <hr class="verdeAstrid1">
        <h3>Estudiantes</h3>
        {{#each grupo.estudiantes}}
            <ul>
                <li><a href="/main/presentarDocente?id={{id}}?nombreUsuario={{../nombreUsuario}}">{{identificacion}}</a> - {{nombres}} {{apellidos}} - {{correo}}</li>
            </ul>
        {{/each}}
        <hr class="verdeAstrid1">
        <h3>Registrar docente</h3>
        <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
        <input type='hidden' name='cursoIdentificacion' value={{grupo.curso.id}}>
        <input type='hidden' name='grupoIdentificacion' value={{grupo.id}}>
        <input type='hidden' name='docenteIdentificacion' value={{docenteIdentificacion}}>
        <p>Identificación: {{docenteIdentificacion}}</p>
        <p>Nombres: <input type='text' name='docenteNombres' value=''/></p>
        <p>Apellidos: <input type='text' name='docenteApellidos' value=''/></p>
        <p>Correo electrónico: <input type='text' name='docenteCorreoElectronico' value=''/></p>
        <input type='submit' value='Grabar' />
    {{/if}}
</form>
