<form method='POST' action='/main/grabarInstitucion'>
    <h3>
        <a href='/main/consultarConjuntoInstituciones?nombreUsuario={{nombreUsuario}}'>Instituciones</a> |
    </h3>
    {{#each conjuntoInstituciones.arreglo}}
        <ul>
            <li><a href="/main/presentarInstitucion?id={{id}}?nombreUsuario={{nombreUsuario}}">{{identificacion}}</a> {{nombre}} - {{sigla}}</li>
        </ul>
    {{/each}}
    <hr class="verdeAstrid1">
    <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
    <h3>Registrar institución</h3>
    <p>Identificación (SNIES): <input type='text' name='identificacion' value=''/></p>
    <p>Nombre: <input type='text' name='nombre' value=''/></p>
    <p>Sigla: <input type='text' name='sigla' value=''/></p>
    <input type='submit' value='Grabar' />
</form>