<form method='POST' action='/main/grabarPrograma'>
    {{#if institucion}}
        <h3>
            <a href='/main/consultarConjuntoInstituciones?nombreUsuario={{nombreUsuario}}'>Instituciones</a> |
            <a href="/main/presentarInstitucion?id={{institucion.id}}&nombreUsuario={{nombreUsuario}}">{{institucion.nombre}}</a> |
        </h3>
        <hr class="verdeAstrid1">
        <h3>Programas</h3>
        {{#each institucion.programas}}
            <ul>
                <li><a href="/main/presentarPrograma?id={{id}}?nombreUsuario={{../nombreUsuario}}">{{identificacion}}</a> {{nombre}}</li>
            </ul>
        {{/each}}
        <hr class="verdeAstrid1">
        <h3>Registrar programa</h3>
        <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
        <input type='hidden' name='id' value={{institucion.id}}>
        <p>Identificación (SNIES): <input type='text' name='programaIdentificacion' value=''/></p>
        <p>Programa: <input type='text' name='programaNombre' value=''/></p>
        <input type='submit' value='Grabar' />
    {{/if}}
</form>
