<form method='POST' action='/main/grabarGrupo'>
    {{#if curso}}
        <h3>
            <a href='/main/consultarConjuntoInstituciones?nombreUsuario={{nombreUsuario}}'>Instituciones</a> |
            <a href="/main/presentarInstitucion?id={{curso.programa.institucion.id}}&nombreUsuario={{nombreUsuario}}">{{curso.programa.institucion.nombre}}</a> |
            <a href="/main/presentarPrograma?id={{curso.programa.id}}&nombreUsuario={{nombreUsuario}}">{{curso.programa.nombre}}</a> |
            <a href="/main/presentarCurso?id={{curso.id}}&nombreUsuario={{nombreUsuario}}">{{curso.nombre}}</a> |
        </h3>
        <hr class="verdeAstrid1">
        <h3>Grupos</h3>
        {{#each curso.grupos}}
            <ul>
                <li><a href="/main/presentarGrupo?id={{id}}&nombreUsuario={{nombreUsuario}}">{{identificacion}}</a> {{nombre}}</li>
            </ul>
        {{/each}}
        <hr class="verdeAstrid1">
        <h3>Registrar grupo</h3>
        <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
        <input type='hidden' name='id' value={{curso.id}}>
        <p>Identificación: <input type='text' name='grupoIdentificacion' value=''/></p>
        <p>Grupo: <input type='text' name='grupoNombre' value=''/></p>
        <input type='submit' value='Grabar' />
    {{/if}}
</form>
