<form method='POST' action='/main/actualizarCurso'>
    <h3>
        <a href='/main/consultarConjuntoInstituciones?nombreUsuario={{nombreUsuario}}'>Instituciones</a> |
        <a href="/main/presentarInstitucion?id={{curso.programa.institucion.id}}&nombreUsuario={{nombreUsuario}}">{{curso.programa.institucion.nombre}}</a> |
        <a href="/main/presentarPrograma?id={{curso.programa.id}}&nombreUsuario={{nombreUsuario}}">{{curso.programa.nombre}}</a> |
        <a href="/main/presentarCurso?id={{curso.id}}&nombreUsuario={{nombreUsuario}}">{{curso.nombre}}</a> |
    </h3>
    <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
    <input type='hidden' name='id' value='{{curso.id}}'>
    <p>Identificación: <input type='text' name='cursoIdentificacion' value='{{curso.identificacion}}'/></p>
    <p>Nombre: <input type='text' name='cursoNombre' value='{{curso.nombre}}'/></p>
    <input type='submit' value='Actualizar' />
</form>