<form method='POST' action='/main/actualizarInstitucion'>
    <h3>
        <a href='/main/consultarConjuntoInstituciones?nombreUsuario={{nombreUsuario}}'>Instituciones</a> |
        <a href="/main/presentarInstitucion?id={{institucion.id}}&nombreUsuario={{nombreUsuario}}">{{institucion.nombre}}</a> |
    </h3>
    <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
    <input type='hidden' name='id' value='{{institucion.id}}'>
    <p>Identificación (SNIES): <input type='text' name='identificacion' value='{{institucion.identificacion}}'/></p>
    <p>Nombre: <input type='text' name='nombre' value='{{institucion.nombre}}'/></p>
    <p>Sigla: <input type='text' name='sigla' value='{{institucion.sigla}}'/></p>
    <input type='submit' value='Actualizar' />
</form>