<form method='POST' action='/main/eliminarGrupo/confirmar'>
    <h3>
        <a href='/main/consultarConjuntoInstituciones?nombreUsuario={{nombreUsuario}}'>Instituciones</a> |
        <a href="/main/presentarInstitucion?id={{grupo.curso.programa.institucion.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.curso.programa.institucion.nombre}}</a> |
        <a href="/main/presentarPrograma?id={{grupo.curso.programa.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.curso.programa.nombre}}</a> |
        <a href="/main/presentarCurso?id={{grupo.curso.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.curso.nombre}}</a> |
        <a href="/main/presentarGrupo?id={{grupo.id}}&nombreUsuario={{nombreUsuario}}">{{grupo.nombre}}</a> |
    </h3>
    <hr class="verdeAstrid1">
    <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
    <input type='hidden' name='id' value='{{grupo.id}}'>
    <p>Identificación: {{grupo.identificacion}}</p>
    <p>Nombre: {{grupo.nombre}}</p>
    <input type='submit' value='Confirmar eliminación' />
</form>