<form method='POST' action='/main/grabarSesion'>
    <h3>
        <a href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
    </h3>
    {{#each conjuntoSesiones.arreglo}}
        <ul>
            <li><a href="/main/presentarSesion?id={{id}}?nombreUsuario={{nombreUsuario}}">{{@index}}</a> {{nombre}}</li>
        </ul>
    {{/each}}
    <hr class="verdeAstrid1">
    <h3>Registrar sesión</h3>
    <p>Nombre: <input type='text' name='nombre' value=''/></p>
    <p>
        Tipo:
        <select name='tipoDiagrama' required>
            <option></option>
            {{#each conjuntoTiposDiagrama.tiposDiagrama}}
                <option value={{id}}>{{nombre}}</option>
            {{/each}}
        </select>
    </p>
    <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
    <input type='hidden' name='inicio' value=''/></p>
    <input type='submit' value='Grabar' />
</form>