{{#if conjuntoSesiones}}
    <h3>Sesiones</h3>
    {{#each conjuntoSesiones.arreglo}}
        <ul>
            <li><a onclick="confirmacionIngreso()" href="/main/presentarSesion?id={{id}}&nombreUsuario={{../nombreUsuario}}">{{@index}}</a> {{nombre}}</li>
        </ul>
    {{/each}}
    <hr class="verdeAstrid1">
    <a href='/main/registrarSesion?nombreUsuario={{nombreUsuario}}'>Registrar sesión</a>

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket;
        $(document).ready(()=>{
            socket = io.connect('http://34.69.82.100:3000');
            //socket = io.connect('http://localhost:3000');
            socket.on('connection', function (data) {
                console.log(data);
            });
        });
        function confirmacionIngreso(){
            socket.emit("confirmacionIngreso", {msg:'Ingresó un participante al caso | {{nombreUsuario}}'});
        }
    </script>

{{/if}}
