{{#if conjuntoSesiones}}
    <h3>Sesiones</h3>
    {{#each conjuntoSesiones.arreglo}}
        <ul>
            <li><a href="/main/presentarSesion?id={{id}}&nombreUsuario={{../nombreUsuario}}">{{@index}}</a> {{nombre}}</li>
        </ul>
    {{/each}}
    <hr class="verdeAstrid1">
    <a href='/main/registrarSesion?nombreUsuario={{nombreUsuario}}'>Registrar sesión</a>
{{/if}}
