<form method='POST' action='/main/grabarObjetoDiagramaSesion'>
    {{#if sesion}}
        <h3>
            <a href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
            {{sesion.nombre}} |
            <a href='/main/presentarSesion?id={{sesion.id}}?nombreUsuario={{nombreUsuario}}'>Planteamiento</a> |
            <a href='/main/presentarChatSesion?idSesion={{sesion.id}}?nombreUsuario={{nombreUsuario}}'>Chat</a> |
            Diagrama |
        </h3>
        {{#if sesion.diagrama}}
            <div align="center" style="background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
                <img id="imagen" src="{{sesion.diagrama.tipoDiagrama.dibujar}}" width="1000" height="2000">
            </div>
            <input type="hidden" name="nombreUsuario" value={{nombreUsuario}}>
            <input type='hidden' name='idSesion' value={{sesion.id}}>
            <input type='hidden' name='id' value={{sesion.diagrama.id}}>
            <input type='hidden' name='tipoDiagrama' value={{sesion.diagrama.tipoDiagrama.id}}>
            <input type='hidden' name='tipoObjeto' value={{objeto.tipoObjeto.id}}>
            <hr class="verdeAstrid1">
            <h3>Registrar {{objeto.tipoObjeto.nombre}}</h3>
            {{#each objeto.tipoObjeto.tiposPropiedad}}
                <p>{{nombre}}: <input type='text' name='valor{{nombre}}' value=''/></p>
            {{/each}}
            <input type='hidden' name='aporteTiempo' value=''/></p>
            <input type='submit' onclick="objeto()" value='Grabar' />
        {{/if}}
        <script
                src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket;
            $(document).ready(()=>{
                socket = io.connect('http://34.69.82.100:3000');
                socket.on('connection', function (data) {
                    console.log(data);
                });
            });
            function objeto(){
                socket.emit("objetoDiagrama", {msg:'Cliente pulsó'});
            }
        </script>
    {{/if}}
</form>
