<form method='POST' action='/main/grabarRelacionDiagramaSesion'>
    {{#if sesion}}
        <h3>
            <a href='/main/consultarConjuntoSesiones'>Sesiones</a> |
            {{sesion.nombre}} |
            <a href='/main/presentarSesion?id={{sesion.id}}'>Planteamiento</a> |
            <a href='/main/presentarChatSesion?idSesion={{sesion.id}}'>Chat</a> |
            Diagrama |
        </h3>
        {{#if sesion.diagrama}}
            <div align="center" style="background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
                <img id="imagen" src="{{sesion.diagrama.tipoDiagrama.dibujar}}" width="1000" height="2000">
            </div>
            <input type='hidden' name='idSesion' value={{sesion.id}}>
            <input type='hidden' name='id' value={{sesion.diagrama.id}}>
            <input type='hidden' name='tipoDiagrama' value={{sesion.diagrama.tipoDiagrama.id}}>
            <input type='hidden' name='tipoRelacion' value={{relacion.tipoRelacion.id}}>
            <hr class="verdeAstrid1">
            <h3>Registrar {{relacion.tipoRelacion.nombre}}</h3>
            <p>{{relacion.tipoRelacion.tipoRolInicio.nombre}}:
                <select name='objetoInicial' required>
                    <option></option>
                    {{#each relacion.objetosPosibleInicio}}
                        <option value={{id}}>{{tipoObjeto.nombre}}: {{valoresPropiedades}}</option>
                    {{/each}}
                </select></p>
            <p>{{relacion.tipoRelacion.tipoRolFinal.nombre}}:
                <select name='objetoFinal' required>
                    <option></option>
                    {{#each relacion.objetosPosibleFinal}}
                        <option value={{id}}>{{tipoObjeto.nombre}}: {{valoresPropiedades}}</option>
                    {{/each}}
                </select></p>
            {{#each relacion.tipoRelacion.tiposPropiedad}}
                <p>{{nombre}}: <input type='text' name='valor{{nombre}}' value=''/></p>
            {{/each}}
            <input type='hidden' name='aporteTiempo' value=''/></p>
            <input type='submit' value='Grabar' />
        {{/if}}
    {{/if}}
</form>
