<form method='POST' action='/main/actualizarDiagrama'>
    <hr/>
    <h3>Edición</h3>
    <input type='hidden' name='id' value='{{diagrama.id}}'>
    <input type='hidden' name='tipoDiagrama' value='{{diagrama.tipoDiagrama.id}}'>
    <p>Diagrama: <input type='text' name='nombre' value='{{diagrama.nombre}}'/></p>
    <p>Tipo: {{diagrama.tipoDiagrama.nombre}}</p>
    <p>Inicio: <input type='text' name='inicio' value='{{diagrama.inicio}}'/></p>
    <input type='submit' value='Actualizar' />
    <hr/>
    <a href='/'>Inicio</a> |
    <a href='/main/consultarConjuntoDiagramas'>Diagramas</a> |
    <a href="/main/presentarDiagrama?id={{diagrama.id}}">{{diagrama.nombre}}</a>
</form>