<form method='POST' action='/main/actualizarObjeto'>
    {{#if diagrama}}
        <hr/>
        <h3>Diagrama</h3>
        <p>Nombre: {{diagrama.nombre}}</p>
        <p>Tipo: {{diagrama.tipoDiagrama.nombre}}</p>
        <p>Inicio: {{diagrama.inicio}}</p>
        <hr/>
        <h3>Objetos</h3>
        {{#each diagrama.objetos}}
            <ul>
                <li>
                    {{@index}} - <b>{{tipoObjeto.nombre}}</b> - {{cadenaPropiedades}}
                </li>
            </ul>
        {{/each}}
        {{#each diagrama.tipoDiagrama.tiposObjeto}}
            |
            <a href='/main/registrarObjeto?id={{../diagrama.id}}&objetoTipoId={{id}}'>Objeto {{nombre}}</a>
        {{/each}}
        <hr/>
        <h3>Relaciones</h3>
        {{#each diagrama.relaciones}}
            <ul>
                <li>
                    {{@index}} - <b>{{tipoRelacion.nombre}}</b> - {{cadenaPropiedades}}
                </li>
            </ul>
        {{/each}}
        {{#each diagrama.tipoDiagrama.tiposRelacion}}
            |
            <a href='/main/registrarRelacion?id={{../diagrama.id}}&relacionTipoId={{id}}'>Relación {{nombre}}</a>
        {{/each}}
        <hr/>
        <input type='hidden' name='id' value={{diagrama.id}}>
        <input type='hidden' name='objetoId' value={{objeto.id}}>
        <input type='hidden' name='tipoDiagrama' value={{diagrama.tipoDiagrama.id}}>
        <input type='hidden' name='tipoObjeto' value={{objeto.tipoObjeto.id}}>
        <input type='hidden' name='aporteTiempo' value={{objeto.tiempo}}>
        <h3>Edición {{objeto.tipoObjeto.nombre}}</h3>
        {{#each objeto.tipoObjeto.tiposPropiedad}}
            <p>{{nombre}}: <input type='text' name='valor{{nombre}}' value='{{../objeto.valorPropiedad}}'/></p>
        {{/each}}
        <input type='submit' value='Grabar' />
        <hr/>
        <a href='/'>Inicio</a> |
        <a href='/main/consultarConjuntoDiagramas'>Diagramas</a> |
        <a href="/main/presentarDiagrama?id={{diagrama.id}}">{{diagrama.nombre}}</a>
    {{/if}}
</form>
