<form method='POST' action='/main/eliminarDiagrama/confirmar'>
    <hr/>
    <h3>Eliminación</h3>
    <input type='hidden' name='id' value='{{diagrama.id}}'>
    <p>Diagrama: {{diagrama.nombre}}</p>
    <p>Tipo: {{diagrama.tipoDiagrama.nombre}}</p>
    <p>Inicio: {{diagrama.inicio}}</p>
    <input type='submit' value='Confirmar eliminación' /> |
    <hr/>
    <a href='/'>Cancelar</a>
    <a href='/'>Inicio</a> |
    <a href='/main/consultarConjuntoDiagramas'>Diagramas</a> |
    <a href="/main/presentarDiagrama?id={{diagrama.id}}">{{diagrama.nombre}}</a>
</form>