{{#if sesion}}
    <h3>
        <table style="width:100%">
            <tr>
                <th align="left">
                    <a href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
                    {{sesion.nombre}}
                </th>
                <th align="right">
                    <a href='/main/presentarSesion?id={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Planteamiento</a> |
                    <a href='/main/presentarChatSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Chat</a> |
                    {{sesion.nombreTipoDiagrama}}
                </th>
            </tr>
        </table>
    </h3>
    {{#if sesion.diagrama}}
        <div id="divDibujo" align="center" style="position:relative; background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
            <canvas id="canvasDibujo" width="1000" height="2000"></canvas>
            <img id="imagenMapa" onmousedown="down(event)" ondrop="drop(event)" ondragover="allowDrop(event)" width="1000" height="2000" usemap="#mapa" style="position:absolute;"/>
            <map id="mapa" name="mapa">
            </map>
            <input type='hidden' id="diagramaJsonCopia" name='diagramaJson' value="{{sesion.diagrama.diagramaJson}}" >
            <input id="xNuevoObjeto" name='xNuevoObjeto' type='hidden' >
            <input id="yNuevoObjeto" name='yNuevoObjeto' type='hidden' >
            <script src="../javascripts/determinarObjeto.js"></script>
            <script src="../javascripts/determinarIdObjeto.js"></script>
            <script src="../javascripts/determinarNombreObjeto.js"></script>
            <script src="../javascripts/determinarNumeroPuerto.js"></script>
            <script src="../javascripts/editarDiagrama.js"></script>
            <script src="../javascripts/{{sesion.diagrama.tipoDiagrama.scriptDibujo}}"></script>
            <script type="text/javascript">
                dibujarDiagrama("canvasDibujo","{{sesion.diagrama.diagramaJson}}","/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=");
            </script>
        </div>
        <br>
        <div id="controles">
            <b>Objetos:</b>
            {{#each sesion.diagrama.tipoDiagrama.tiposObjeto}}
                <a onclick="inicioCapturaObjeto('{{id}}','{{nombre}}','{{tiposPropiedadJson}}')" >{{nombre}}</a>
                |
            {{/each}}
            |
            <b>Relaciones:</b>
            {{#each sesion.diagrama.tipoDiagrama.tiposRelacion}}
                <a onclick="capturaRelacion('1','{{id}}','{{nombre}}','{{tiposPropiedadJson}}')" >{{nombre}}</a>
                |
            {{/each}}
        </div>
        <div id="capturarObjeto" style="display:none;">
            <form id='formGrabarObjetoDiagramaSesion' method='POST' action='/main/grabarObjetoDiagramaSesion'>
                <hr class="verdeAstrid1">
                <input type="hidden" name="nombreUsuario" value={{nombreUsuario}}>
                <input type='hidden' name='idSesion' value={{sesion.id}}>
                <input type='hidden' name='id' value={{sesion.diagrama.id}}>
                <input type='hidden' name='tipoDiagrama' value={{sesion.diagrama.tipoDiagrama.id}}>
                <input id="tipoObjeto" name='tipoObjeto' type='hidden' >
                <input type='hidden' name='objetoTiempo' value=''/>
                <p>
                    <b>
                    Coordenadas:
                    X= <input id="xObjeto" name='xObjeto' type='number' min="0" step="10" > |
                    Y= <input id="yObjeto" name='yObjeto' type='number' min="0" step="10" />
                    </b>
                </p>
                <b><p id="objetoTipo" >: </p></b>
                <script src="../javascripts/iniciarFormularioCapturaObjeto.js"></script>
                <script type="text/javascript">
                    inicioFormularioCapturaObjeto();
                </script>
            </form>
        </div>
        <div id="capturarRelacion" style="display:none;">
            <form id='formGrabarRelacionDiagramaSesion' method='POST' action='/main/grabarRelacionDiagramaSesion'>
                <hr class="verdeAstrid1">
                <input type="hidden" name="nombreUsuario" value={{nombreUsuario}}>
                <input type='hidden' name='idSesion' value={{sesion.id}}>
                <input type='hidden' name='id' value={{sesion.diagrama.id}}>
                <input type='hidden' name='tipoDiagrama' value={{sesion.diagrama.tipoDiagrama.id}}>
                <input id="tipoRelacion" name='tipoRelacion' type='hidden' >
                <input type='hidden' name='relacionTiempo' value=''/>
                <b><p id="relacionTipo" >: </p></b>
                <div id="divCapturarObjetoInicial" style="display: none;">
                    <p>
                        <b>
                            Objeto inicial:
                            <input id="indiceObjetoInicial" name='indiceObjetoInicial' type='hidden' >
                            <input id="idObjetoInicial" name='idObjetoInicial' type='hidden' >
                            <input id="nombreObjetoInicial" name='nombreObjetoInicial' type='text' > |
                            Puerto:
                            <input id="numeroPuertoObjetoInicial" name='numeroPuertoObjetoInicial' type='text' >
                        </b>
                    </p>
                </div>
                <div id="divCapturarObjetoFinal" style="display: none;">
                    <p>
                        <b>
                            Objeto final:
                            <input id="indiceObjetoFinal" name='indiceObjetoFinal' type='hidden' >
                            <input id="idObjetoFinal" name='idObjetoFinal' type='hidden' >
                            <input id="nombreObjetoFinal" name='nombreObjetoFinal' type='text' > |
                            Puerto:
                            <input id="numeroPuertoObjetoFinal" name='numeroPuertoObjetoFinal' type='text' >
                        </b>
                    </p>
                </div>
                <script src="../javascripts/iniciarFormularioCapturaRelacion.js"></script>
                <script type="text/javascript">
                    inicioFormularioCapturaRelacion();
                </script>
            </form>
        </div>
        <div id="capturarMovimiento" style="display:none;">
            <form id='formGrabarEdicionDiagramaSesion' method='POST' action='/main/grabarEdicionDiagramaSesion'>
                <hr class="verdeAstrid1">
                <input type='hidden' id="diagramaJson" name='diagramaJson' value="{{sesion.diagrama.diagramaJson}}" >
                <input type="hidden" name="nombreUsuario" value={{nombreUsuario}}>
                <input type='hidden' name='idSesion' value={{sesion.id}}>
                <input type='hidden' name='id' value={{sesion.diagrama.id}}>
                <input type='hidden' name='tipoDiagrama' value={{sesion.diagrama.tipoDiagrama.id}}>
                <input type='hidden' id="indiceObjeto" name='indiceObjeto' value="" >
                <input type='hidden' id="pasoCaptura" name='pasoCaptura' value="0" >
                <input type='hidden' id="xInicioMovimiento" name='xInicioMovimiento' >
                <input type='hidden' id="yInicioMovimiento" name='yInicioMovimiento' >
                <p><b>Edición del diagrama</b></p>
                <p>
                    <b>
                        Coordenadas:
                        X= <input type='number' id="xFinMovimiento" name='xFinMovimiento' min="0" step="10" > |
                        Y= <input type='number' id="yFinMovimiento" name='yFinMovimiento' min="0" step="10" > |
                        <a onclick="probarDiagrama()">Probar</a> |
                    </b>
                </p>
                <input id="grabarMovimiento" onclick="edicion()" type='submit' value='Grabar' /> |
                <a onclick="desistimientoEdicion()">Desistir</a> |
            </form>
        </div>
    {{/if}}

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket;
        $(document).ready(()=>{
            socket = io.connect('http://34.69.82.100:3000');
            //socket = io.connect('http://localhost:3000');
            socket.on("actualizacionDiagrama", (data)=>{
                console.log("Evento: "+data);
                document.getElementById('diagramaJsonCopia').value = data.diagramaRecuperado;
                document.getElementById('diagramaJson').value = data.diagramaRecuperado;
                dibujarDiagrama("canvasDibujo", data.diagramaRecuperado,"/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=");
            });
            socket.on('atencion', function (data) {
                $('#alerta').html(data);
                document.getElementById('alerta').style='color:#F1B434';
                document.getElementById('alerta').style.background='#228848';
                setTimeout(() => {
                    document.getElementById('alerta').style.background='#FFFFFF';
                }, 1000);
                setTimeout(() => {
                    document.getElementById('alerta').style='color:#228848';
                }, 1000);
            });
            socket.on('reunion', function (data) {
                alert(data);
            });
            socket.on('connection', function (data) {
                console.log(data);
            });
            socket.emit("ingresoEquipo", {msg:'{{nombreUsuario}} ingresó al {{sesion.nombreTipoDiagrama}}', sesion:'{{sesion.id}}'});
        });
        function inicioCapturaObjeto(pObjetoTipoId, pObjetoTipo, pTiposPropiedadJson){
            document.getElementById('tipoObjeto').value=pObjetoTipoId;
            document.getElementById('objetoTipo').innerHTML=pObjetoTipo+": ";
            document.getElementById('controles').style.display='none';
            document.getElementById('capturarObjeto').style.display='block';
            document.getElementById('capturarRelacion').style.display='none';
            document.getElementById('capturarMovimiento').style.display='none';

            let cadenaTiposPropiedad = pTiposPropiedadJson.replace(/&quot;/g, "'");
            cadenaTiposPropiedad = cadenaTiposPropiedad.replace(/'/g, '"');
            let pTiposPropiedad = JSON.parse(cadenaTiposPropiedad);

            let i = 0;
            if (cadenaTiposPropiedad.length > 0) {
                for (i=0; i<pTiposPropiedad.length; i++) {
                    document.getElementById('divPropiedadObjeto'+i).style.display = "block";
                    document.getElementById('nombrePropiedadObjeto'+i).innerHTML = pTiposPropiedad[i]._nombre+": ";
                    document.getElementById('nombrePropiedadObjeto'+i).autofocus = true;
                    document.getElementById('valorPropiedadObjeto'+i).name = 'valorPropiedadObjeto'+i;
                    if (i == 0) {
                        document.getElementById('valorPropiedadObjeto'+i).focus();
                    }
                }
            }
            while (i<5) {
                document.getElementById('divPropiedadObjeto'+i).style.display = "none";
                i = i+1;
            }
            i = 0;
            while (document.getElementById('area'+i) != undefined) {
                document.getElementById('area'+i).href="#";
                i = i + 1;
            }
            alertaElemento(pObjetoTipo);
        }
        function capturaRelacion(pPaso,pRelacionTipoId,pRelacionTipo,pTiposPropiedadJson){
            let i = 0;
            if (pPaso==1) {
                document.getElementById('pasoCaptura').value=pPaso;
                document.getElementById('tipoRelacion').value=pRelacionTipoId;
                document.getElementById('relacionTipo').innerHTML=pRelacionTipo+": ";
                document.getElementById('controles').style.display='none';
                document.getElementById('capturarObjeto').style.display='none';
                document.getElementById('capturarRelacion').style.display='block';
                document.getElementById('capturarMovimiento').style.display='none';

                let cadenaTiposPropiedad = pTiposPropiedadJson.replace(/&quot;/g, "'");
                cadenaTiposPropiedad = cadenaTiposPropiedad.replace(/'/g, '"');

                i = 0;
                if (cadenaTiposPropiedad.length > 0) {
                    let pTiposPropiedad = JSON.parse(cadenaTiposPropiedad);
                    for (i=0; i<pTiposPropiedad.length; i++) {
                        document.getElementById('divPropiedadRelacion'+i).style.display = "none";
                        document.getElementById('nombrePropiedadRelacion'+i).innerHTML = pTiposPropiedad[i]._nombre+": ";
                        document.getElementById('nombrePropiedadRelacion'+i).autofocus = true;
                        document.getElementById('valorPropiedadRelacion'+i).name = 'valorPropiedadRelacion'+i;
                    }
                }
                while (i<5) {
                    document.getElementById('divPropiedadRelacion'+i).style.display = "none";
                    document.getElementById('valorPropiedadRelacion'+i).name = 'none';
                    i = i+1;
                }
                i = 0;
                while (document.getElementById('area'+i) != undefined) {
                    document.getElementById('area'+i).href="#";
                    i = i + 1;
                }
                document.getElementById('indiceObjetoInicial').value='';
                document.getElementById('idObjetoInicial').value='';
                document.getElementById('nombreObjetoInicial').value='';
                document.getElementById('indiceObjetoFinal').value='';
                document.getElementById('idObjetoFinal').value='';
                document.getElementById('nombreObjetoFinal').value='';
                document.getElementById('divCapturarObjetoInicial').style.display='block';
                document.getElementById('nombreObjetoInicial').focus();
                dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=",pPaso);
                alertaElemento(pRelacionTipo);
            }
            if (pPaso==3) {
                document.getElementById('divCapturarObjetoFinal').style.display='block';
                document.getElementById('nombreObjetoFinal').focus();
                dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=",pPaso);
            }
            if (pPaso==5) {
                i = 0;
                while (i<5) {
                    if (document.getElementById('valorPropiedadRelacion'+i).name != 'none') {
                        document.getElementById('divPropiedadRelacion'+i).style.display = "block";
                    }
                    i = i+1;
                }
            }
        }
        function alertaElemento(pTipoElemento){
            if (pTipoElemento === undefined) {
                pTipoElemento="";
            } else {
                pTipoElemento="de tipo "+pTipoElemento+" ";
            }
            socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} prepara un nuevo elemento '+pTipoElemento+'en el diagrama', sesion:'{{sesion.id}}'});
        }
        function inclusionElemento(){
            document.getElementById('controles').style.display='block';
            document.getElementById("capturarObjeto").style.display='none';
            document.getElementById("capturarRelacion").style.display='none';
            document.getElementById('capturarMovimiento').style.display='none';
        }
        function desistimientoElemento(pTipoElemento){
            if (pTipoElemento === undefined) {
                pTipoElemento="";
            } else {
                pTipoElemento=pTipoElemento+" ";
            }
            document.getElementById('controles').style.display='block';
            document.getElementById("capturarObjeto").style.display='none';
            document.getElementById("capturarRelacion").style.display='none';
            document.getElementById('capturarMovimiento').style.display='none';
            dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=");
            socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} desistió de incluir un elemento '+pTipoElemento+'en el diagrama', sesion:'{{sesion.id}}'});
        }
        function alertaEdicion(){
            document.getElementById('controles').style.display='none';
            document.getElementById("capturarObjeto").style.display='none';
            document.getElementById("capturarRelacion").style.display='none';
            document.getElementById('capturarMovimiento').style.display='block';
            socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} está editando el diagrama', sesion:'{{sesion.id}}'});
        }
        function edicion(){
            document.getElementById('controles').style.display='block';
            document.getElementById("capturarMovimiento").style.display='none';
        }
        function desistimientoEdicion(pTipoElemento){
            document.getElementById('controles').style.display='block';
            document.getElementById("capturarMovimiento").style.display='none';
            document.getElementById("diagramaJson").value = document.getElementById("diagramaJsonCopia").value;
            dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=");
            socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} desistió de editar el diagrama', sesion:'{{sesion.id}}'});
        }
        function llamarReunion() {
            socket.emit("reunionEquipo", {msg:'{{nombreUsuario}} solicita reunirse en el {{sesion.nombreTipoDiagrama}}', sesion:'{{sesion.id}}'});
        }
        function down(ev) {
            document.getElementById('xObjeto').value=Math.round((ev.clientX-document.getElementById('divDibujo').offsetLeft-document.getElementById('canvasDibujo').offsetLeft+document.getElementById('divDibujo').scrollLeft)/10)*10;
            document.getElementById('yObjeto').value=Math.round((ev.clientY-document.getElementById('divDibujo').offsetTop-document.getElementById('canvasDibujo').offsetTop+document.getElementById('divDibujo').scrollTop)/10)*10;
        }
        function downObjetoInicial(ev,pIndice,pId,pNombre) {
            document.getElementById("indiceObjetoInicial").value = pIndice;
            document.getElementById("idObjetoInicial").value = pId;
            document.getElementById("nombreObjetoInicial").value = pNombre;
            dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=",2);
        }
        function downPuertoInicial(ev,pNumero) {
            document.getElementById("numeroPuertoObjetoInicial").value = pNumero;
            dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=",3);
            capturaRelacion(3,'','','');
        }
        function downObjetoFinal(ev,pIndice,pId,pNombre) {
            document.getElementById("indiceObjetoFinal").value = pIndice;
            document.getElementById("idObjetoFinal").value = pId;
            document.getElementById("nombreObjetoFinal").value = pNombre;
            dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=",4);
        }
        function downPuertoFinal(ev,pNumero) {
            document.getElementById("numeroPuertoObjetoFinal").value = pNumero;
            dibujarDiagrama("canvasDibujo", document.getElementById("diagramaJson").value, "/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=",5);
            capturaRelacion(5,'','','');
        }
        function allowDrop(ev) {
            ev.preventDefault();
        }
        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
            document.getElementById('xInicioMovimiento').value=ev.clientX-document.getElementById('divDibujo').offsetLeft-document.getElementById('canvasDibujo').offsetLeft+document.getElementById('divDibujo').scrollLeft;
            document.getElementById('yInicioMovimiento').value=ev.clientY-document.getElementById('divDibujo').offsetTop-document.getElementById('canvasDibujo').offsetTop+document.getElementById('divDibujo').scrollTop;
        }
        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            document.getElementById('xFinMovimiento').value=Math.round((ev.clientX-document.getElementById('divDibujo').offsetLeft-document.getElementById('canvasDibujo').offsetLeft+document.getElementById('divDibujo').scrollLeft)/10)*10;
            document.getElementById('yFinMovimiento').value=Math.round((ev.clientY-document.getElementById('divDibujo').offsetTop-document.getElementById('canvasDibujo').offsetTop+document.getElementById('divDibujo').scrollTop)/10)*10;
            alertaEdicion();
            document.getElementById("indiceObjeto").value = determinarObjeto(document.getElementById('diagramaJson').value,document.getElementById('xInicioMovimiento').value,document.getElementById('yInicioMovimiento').value);
            dibujarDiagrama('canvasDibujo',editarDiagrama(document.getElementById('diagramaJson').value,document.getElementById('xInicioMovimiento').value,document.getElementById('yInicioMovimiento').value,document.getElementById('xFinMovimiento').value,document.getElementById('yFinMovimiento').value,document.getElementById("indiceObjeto").value),"/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=");
        }
        function probarDiagrama() {
            dibujarDiagrama('canvasDibujo',editarDiagrama(document.getElementById('diagramaJson').value,document.getElementById('xInicioMovimiento').value,document.getElementById('yInicioMovimiento').value,document.getElementById('xFinMovimiento').value,document.getElementById('yFinMovimiento').value,document.getElementById("indiceObjeto").value),"/main/presentarArgumentacionSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}&idObjeto=");
        }
    </script>

{{/if}}
