<form method='POST' action='/main/actualizarArgumentacion'>
    <hr/>
    <h3>Edición</h3>
    <input type='hidden' name='id' value='{{argumentacion.id}}'>
    <p>Argumentación: <input type='text' name='nombre' value='{{argumentacion.nombre}}'/></p>
    <p>Inicio: <input type='text' name='inicio' value='{{argumentacion.inicio}}'/></p>
    <input type='submit' value='Actualizar' />
    <hr/>
    <a href='/'>Inicio</a> |
    <a href='/main/consultarConjuntoArgumentaciones'>Argumentaciones</a> |
    <a href="/main/presentarArgumentacion?id={{argumentacion.id}}">{{argumentacion.nombre}}</a>
</form>