<form method='POST' action='/main/eliminarArgumentacion/confirmar'>
    <hr/>
    <h3>Eliminación</h3>
    <input type='hidden' name='id' value='{{argumentacion.id}}'>
    <p>Argumentación: {{argumentacion.nombre}}</p>
    <p>Inicio: {{argumentacion.inicio}}</p>
    <input type='submit' value='Confirmar eliminación' /> |
    <hr/>
    <a href='/'>Cancelar</a>
    <a href='/'>Inicio</a> |
    <a href='/main/consultarConjuntoArgumentaciones'>Argumentaciones</a> |
    <a href="/main/presentarArgumentacion?id={{argumentacion.id}}">{{argumentacion.nombre}}</a>
</form>