{{#if sesion}}
    <h3>
        <a href='/main/consultarConjuntoSesiones'>Sesiones</a> |
        {{sesion.nombre}} |
        <a href='/main/presentarSesion?id={{sesion.id}}'>Planteamiento</a> |
        <a href='/main/presentarChatSesion?idSesion={{sesion.id}}'>Chat</a> |
        <a href='/main/presentarDiagramaSesion?idSesion={{sesion.id}}'>Diagrama</a> |
        Argumentación |
    </h3>
    {{#if argumentacion}}
        <div align="center" style="background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
            <img id="imagen" src="{{argumentacion.tiposAporte.dibujar}}" width="1000" height="2000" usemap="#mapa" />
            <map name="mapa">
                {{#each argumentacion.aportes}}
                    {{#each areasEnlace}}
                        <area shape="rect" coords="{{xIzquierda}},{{yArriba}},{{xDerecha}},{{yAbajo}}" href="/main/registrarAporteSesion?idSesion={{../../sesion.id}}&idObjeto={{../../idObjeto}}&aportePredecesorId={{../id}}&aportePredecesorTipo={{../tipoAporte.nombre}}&aportePredecesorContenido={{../contenido}}&aporteTipoId={{tipoSucesor.id}}&aporteTipo={{tipoSucesor.nombre}}" />
                    {{/each}}
                {{/each}}
                {{#if argumentacion.vacio}}
                    <area shape="rect" coords="0,0,1000,800" href="/main/registrarAporteSesion?idSesion={{sesion.id}}&idObjeto={{idObjeto}}&aportePredecesorId=&aporteTipoId={{argumentacion.tiposAporte.tipoAporteInicio.id}}&aporteTipo={{argumentacion.tiposAporte.tipoAporteInicio.nombre}}" />
                {{/if}}
            </map>
        </div>
    {{/if}}
{{/if}}

