{{#if sesion}}
    <h3>
        <table style="width:100%">
            <tr>
                <th align="left">
                    <a href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
                    {{sesion.nombre}}
                </th>
                <th align="right">
                    <a href='/main/presentarSesion?id={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Planteamiento</a> |
                    <a href='/main/presentarChatSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Chat</a> |
                    <a href='/main/presentarDiagramaSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>{{sesion.nombreTipoDiagrama}}</a> |
                    Argumentación
                </th>
            </tr>
        </table>
    </h3>
    {{#if argumentacion}}
        <div align="center" style="position:relative; background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
            <canvas id="canvasDibujo" width="1000" height="2000"></canvas>
            <img id="imagenMapa" width="1000" height="2000" usemap="#mapa" style="position:absolute;"/>
            <map id="mapa" name="mapa">
            </map>
            <script src="../javascripts/dibujarArgumentacion.js"></script>
            <script type="text/javascript">
                dibujarArgumentacion("canvasDibujo","{{argumentacion.argumentacionJson}}");
            </script>
        </div>
        <div id="capturarAporte" style="display:none;">
            <form method='POST' action='/main/grabarAporteSesion'>
                <hr class="verdeAstrid1">
                <input type="hidden" name="nombreUsuario" value="{{nombreUsuario}}">
                <input type='hidden' name='idSesion' value={{sesion.id}}>
                <input type='hidden' name='id' value={{argumentacion.id}}>
                <input type='hidden' name='idObjeto' value={{idObjeto}}>
                <input id="aporteTipoId" type='hidden' name='aporteTipoId' value={{aporteTipoId}}>
                <input id="aporteTipo" type='hidden' name='aporteTipo' value={{aporteTipo}}>
                <input id="aportePredecesorId" type='hidden' name='aportePredecesorId' value=''/>
                <p><b id="aportePredecesor"></b></p>
                <p><b id="aporteSucesorTipo"></b><b>: </b> <input id="aporteContenido" type='text' name='aporteContenido' value='' autofocus/></p>
                <input id="aporteTiempo" type='hidden' name='aporteTiempo' value=''/></p>
                <input onclick="inclusionAporte()" type='submit' value='Grabar' /> |
                <a onclick="desistimientoAporte('{{argumentacion.nombre}}')">Desistir</a> |
            </form>
        </div>

        <script
                src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket;
            $(document).ready(()=>{
                socket = io.connect('http://34.69.82.100:3000');
                //socket = io.connect('http://localhost:3000');
                socket.on("actualizacionArgumentacion", (data)=>{
                    console.log("Evento: "+data);
                    dibujarArgumentacion("canvasDibujo", data.argumentacionRecuperada);
                });
                socket.on('atencion', function (data) {
                    $('#alerta').html(data);
                    document.getElementById('alerta').style='color:#F1B434';
                    document.getElementById('alerta').style.background='#228848';
                    setTimeout(() => {
                        document.getElementById('alerta').style.background='#FFFFFF';
                    }, 1000);
                    setTimeout(() => {
                        document.getElementById('alerta').style='color:#228848';
                    }, 1000);
                });
                socket.on('connection', function (data) {
                    console.log(data);
                });
                socket.emit("ingresoEquipo", {msg:'{{nombreUsuario}} ingresó a la argumentación {{argumentacion.nombre}}', sesion:'{{sesion.id}}'});
            });
            function inicioCapturaAporte(pAporteTipoId,pAportePredecesorId,pAportePredecesorTipo,pAportePredecesorContenido,pAporteSucesorTipo,pArgumentacionNombre){
                document.getElementById('aporteTipoId').value=pAporteTipoId;
                document.getElementById('aportePredecesorId').value=pAportePredecesorId;
                document.getElementById('aportePredecesor').innerHTML=pAportePredecesorTipo+' - '+pAportePredecesorContenido;
                document.getElementById('aporteSucesorTipo').innerHTML=pAporteSucesorTipo;
                document.getElementById('aporteContenido').value='';
                document.getElementById('aporteTiempo').value='';
                document.getElementById('capturarAporte').style.display='block';
                document.getElementById('aporteContenido').focus();
                alertaAporte(pArgumentacionNombre);
            }
            function alertaAporte(pNombre){
                if (pNombre === undefined) {
                    pNombre="";
                } else {
                    pNombre=pNombre+" ";
                }
                socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} prepara un nuevo aporte en la argumentación '+pNombre, sesion:'{{sesion.id}}'});
            }
            function inclusionAporte(){
                document.getElementById("capturarAporte").style.display='none';
            }
            function desistimientoAporte(pNombre){
                if (pNombre === undefined) {
                    pNombre="";
                } else {
                    pNombre=pNombre+" ";
                }
                document.getElementById("capturarAporte").style.display='none';
                socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} desistió incluir un nuevo aporte en la argumentación '+pNombre, sesion:'{{sesion.id}}'});
            }
        </script>

    {{/if}}
{{/if}}
