<div id="divPrincipal" class="divContenedorPrincipal">
    <div id="divPresentacionArgumentacion" class="divDibujo">
        <img id="imgArgumentacion" class="imgDibujo" usemap="#mapaArgumentacion"/>
        <map id="mapaArgumentacion" name="mapaArgumentacion"></map>
        <canvas id="canvasArgumentacion" width="1000" height="2000"></canvas>
    </div>
    <div id="divCapturaAporte" class="divEmergente">
        <div id="divFormularioAporte" class="divFormulario">
            <form id="formGrabarAporteSesion" method="POST" action="/main/grabarAporteSesion">
                <input id="inpNombreUsuario" name="nombreUsuario" type="hidden" value="{{nombreUsuario}}">
                <input name="idSesion" type="hidden" value="{{sesion.id}}">
                <input name="idObjeto" type="hidden" value="{{idObjeto}}">
                <input id="inpIdArgumentacion" name="idArgumentacion" type="hidden" value="{{argumentacion.id}}">
                <input id="inpIdAportePredecesor" name="idAportePredecesor" type="hidden" value=''/>
                <input id="inpIdTipoAporte" name="idTipoAporte" type="hidden" value=''>
                <div id="divAportePredecesor" class="divSubformulario">
                    <b><label id="lblAportePredecesor" class="lblGuiaCaptura">Aporte predecesor</label></b><br><br>
                    <b><label id="lblAportePredecesorTipo" class="lblCaptura"></label></b><br>
                    <label id="lblAportePredecesorContenido" class="lblCaptura"></label><br><br>
                </div>
                <div id="divBtnAportes" class="divSubformulario">
                    <b><label id="lblTipoAporte" class="lblGuiaCaptura">Tipo de aporte sucesor</label></b><br><br>
                    <table class="tblSesion">
                        <tr>
                            <th id="thApoyo" class="tblAporte w3-round">
                                <img id="imgBtnApoyo" class="w3-button w3-round imgBtnEncabezado" src="/images/imgApoyo.png" style="display: inline-block" title="Apoyar la proposición">
                                <lbl id="lblApoyo" class="lblCaptura">Apoyo</lbl>
                            </th>
                            <th id="thRefutacion" class="tblAporte w3-round">
                                <img id="imgBtnRefutacion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgRefutacion.png" style="display: inline-block" title="Refutar la proposición">
                                <lbl id="lblRefutacion" class="lblCaptura">Refutación</lbl>
                            </th>
                            <th id="thProposicion" class="tblAporte w3-round">
                                <img id="imgBtnProposicion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgProposicion.png" style="display: inline-block" title="Presentar nueva proposición">
                                <lbl id="lblProposicion" class="lblCaptura">Proposición</lbl>
                            </th>
                            <th id="thEvidencia" class="tblAporte w3-round">
                                <img id="imgBtnEvidencia" class="w3-button w3-round imgBtnEncabezado" src="/images/imgEvidencia.png" style="display: inline-block" title="Aportar evidencia">
                                <lbl id="lblEvidencia" class="lblCaptura">Evidencia</lbl>
                            </th>
                            <th id="thPregunta" class="tblAporte w3-round">
                                <img id="imgBtnPregunta" class="w3-button w3-round imgBtnEncabezado" src="/images/imgPregunta.png" style="display: inline-block" title="Preguntar">
                                <lbl id="lblPregunta" class="lblCaptura">Pregunta</lbl>
                            </th>
                        </tr>
                    </table>
                    <br>
                </div>
                <div id="divRedactarAporte" class="divSubformulario">
                    <b><label id="lblRedactarAporte" class="lblGuiaCaptura">Contenido del aporte sucesor</label></b><br><br>
                    <b><label id="lblAporteTipo" class="lblCaptura">Contenido:</label></b>
                    <textarea id="txtAporteContenido" class="w3-input w3-round" name="aporteContenido" type="text" style="resize: none" onchange="continuacionAporte()"></textarea>
                </div>
                <br>
                <div id="divGrabarAporte" class="divSubformulario">
                    <button id="btnGrabarAporte" class="w3-button w3-round btnControl" type="submit">Grabar aporte</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--
Cargue de scripts de inicialización de la vista Diagrama
-->
<script src="../javascripts/funcionesVistaArgumentacion.js"></script>
<script src="../javascripts/inicializacionVistaArgumentacion.js"></script>
<script type="text/javascript">inicializacionVistaArgumentacion('{{sesion.sesionJson}}');</script>
<script src="../javascripts/dibujarArgumentacion.js"></script>
<script type="text/javascript">dibujarArgumentacion("{{argumentacion.argumentacionJson}}");</script>
<!--
Inicialización sección de mensajería
-->
<script>
    let socket;
    $(document).ready(()=>{
        socket = io.connect(document.getElementById("urlServidor").innerHTML);
        socket.on("actualizacionArgumentacion", (data)=>{
            console.log("Evento: "+data);
            dibujarArgumentacion("canvasDibujo", data.argumentacionRecuperada);
        });
        socket.on('ubicacion', function (data) {
            ubicarUsuario(data.usuario,'{{nombreUsuario}}',data.seccion);
            if (data.usuario != '{{nombreUsuario}}') {
                if (document.getElementById("banderaReserva").innerHTML != "") {
                    socket.emit("reservaAnterior", {msg:'{{nombreUsuario}} continúa preparando un elemento en el diagrama', sesion:'{{sesion.id}}', seccion:'Argumentacion', usuario:'{{nombreUsuario}}'});
                }
                else {
                    socket.emit('respuestaUbicacion', {sesion:'{{sesion.id}}', seccion:'Argumentacion', usuario:'{{nombreUsuario}}'});
                }
            }
        });
        socket.on('confirmacionUbicacion', function (data) {
            if (data.usuario != '{{nombreUsuario}}') {
                ubicarUsuario(data.usuario,'{{nombreUsuario}}',data.seccion);
            }
        });
        socket.on('confirmacionAccion', function (data) {
            if (data.usuario != '{{nombreUsuario}}') {
                ubicarUsuario(data.usuario,'{{nombreUsuario}}',data.seccion, true);
            }
        });
        socket.on('reunion', function (data) {
            if (data.usuario != '{{nombreUsuario}}') {
                alert(data.msg);
            }
        });
        socket.on('reserva', function (data) {
            if (data.usuario != '{{nombreUsuario}}') {
                if (document.getElementById("banderaReserva").innerHTML == "") {
                    ubicarUsuario(data.usuario,'{{nombreUsuario}}',data.seccion,true);
                    document.getElementById("btnDesplegarOpcionesSesion").style.display = "none";
                } else {
                    socket.emit("reservaAnterior", {msg:'{{nombreUsuario}} continúa preparando un elemento en el diagrama', sesion:'{{sesion.id}}', seccion:'Argumentacion', usuario:'{{nombreUsuario}}'});
                }
            } else {
                document.getElementById("banderaReserva").innerHTML="X";
                ubicarUsuario(data.usuario,'{{nombreUsuario}}',data.seccion,true);
            }
        });
        socket.on('reservaAnterior', function (data) {
            if (data.usuario != '{{nombreUsuario}}') {
                document.getElementById("btnDesplegarOpcionesSesion").style.display = "none";
                document.getElementById("banderaReserva").innerHTML = "";
                ubicarUsuario('{{nombreUsuario}}','{{nombreUsuario}}',"Argumentacion");
                ubicarUsuario(data.usuario,'{{nombreUsuario}}',data.seccion,true);
            }
        });
        socket.on('levantamientoReserva', function (data) {
            if (data.usuario != '{{nombreUsuario}}') {
                document.getElementById("btnDesplegarOpcionesSesion").style.display = "inline-block";
                document.getElementById("banderaReserva").innerHTML="";
            }
            ubicarUsuario(data.usuario,'{{nombreUsuario}}',data.seccion);
        });
        socket.on('connection', function (data) {
            console.log(data);
        });
        socket.emit("ingresoEquipo", {msg:'{{nombreUsuario}} ingresó a la argumentación {{argumentacion.nombre}}', sesion:'{{sesion.id}}', seccion:'Argumentacion', usuario:'{{nombreUsuario}}'});
    });
    function alertaAporte(pNombre){
        socket.emit("reserva", {msg:'{{nombreUsuario}} prepara un aporte en la argumentación', sesion:'{{sesion.id}}', seccion:'Argumentacion', usuario:'{{nombreUsuario}}'});
    }
    function continuacionAporte(){
        socket.emit("reserva", {msg:'{{nombreUsuario}} continúa preparando un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
        document.getElementById("btnGrabarAporte").style.display="inline-block";
        document.getElementById("btnGrabarAporte").focus();
    }
    function inclusionAporte(){
        clickOcultarOpciones();
        document.getElementById("divCapturaAporte").style.display='none';
        socket.emit("levantamientoReserva", {msg:'{{nombreUsuario}} incluyó un nuevo aporte en la argumentación', sesion:'{{sesion.id}}', seccion:'Argumentacion', usuario:'{{nombreUsuario}}'});
    }
    function desistimientoAporte(pNombre){
        clickOcultarOpciones();
        socket.emit("levantamientoReserva", {msg:'{{nombreUsuario}} desistió de incluir un aporte en la argumentación', sesion:'{{sesion.id}}', seccion:'Argumentacion', usuario:'{{nombreUsuario}}'});
        document.getElementById("banderaReserva").innerHTML='';
    }
    function llamarReunion() {
        socket.emit("reunionEquipo", {msg:'{{nombreUsuario}} solicita reunirse en la argumentación {{argumentacion.nombre}}', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
    }
</script>
