{{#if sesion}}
    <h3>
        <a href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
        {{sesion.nombre}} |
        <a href='/main/presentarSesion?id={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Planteamiento</a> |
        <a href='/main/presentarChatSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Chat</a> |
        <a href='/main/presentarDiagramaSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Diagrama</a> |
        Argumentación |
    </h3>
    {{#if argumentacion}}
        <div align="center" style="background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
            <img id="imagen" src="{{argumentacion.tiposAporte.dibujar}}" width="1000" height="2000" usemap="#mapa" />
            <map name="mapa">
                {{#each argumentacion.aportes}}
                    {{#each areasEnlace}}
                        <area shape="rect" coords="{{xIzquierda}},{{yArriba}},{{xDerecha}},{{yAbajo}}" href="/main/registrarAporteSesion?idSesion={{../../sesion.id}}&idObjeto={{../../idObjeto}}&aportePredecesorId={{../id}}&aportePredecesorTipo={{../tipoAporte.nombre}}&aportePredecesorContenido={{../contenido}}&aporteTipoId={{tipoSucesor.id}}&aporteTipo={{tipoSucesor.nombre}}&nombreUsuario={{../../nombreUsuario}}" title="{{tipoSucesor.nombre}}"/>
                    {{/each}}
                {{/each}}
                {{#if argumentacion.vacio}}
                    <area shape="rect" coords="0,0,1000,800" href="/main/registrarAporteSesion?idSesion={{sesion.id}}&idObjeto={{idObjeto}}&aportePredecesorId=&aporteTipoId={{argumentacion.tiposAporte.tipoAporteInicio.id}}&aporteTipo={{argumentacion.tiposAporte.tipoAporteInicio.nombre}}&nombreUsuario={{nombreUsuario}}" />
                {{/if}}
            </map>
        </div>
    {{/if}}
{{/if}}
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://34.69.82.100:3000');
    socket.on("actualizacionArgumentacion", (data)=>{
        console.log("Evento: "+data);
        location.reload();
    })
    socket.on('connection', function (data) {
        console.log(data);
    });
</script>

