<form method='POST' action='/main/grabarMensajeChatSesion'>
    {{#if sesion}}
        <h3>
            <a href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
            {{sesion.nombre}} |
            <a href='/main/presentarSesion?id={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Planteamiento</a> |
            Chat |
            <a href='/main/presentarDiagramaSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Diagrama</a> |
        </h3>
        {{#if sesion.chat}}
            <div align="center" style="background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
                <img id="imagen" src="{{sesion.chat.dibujar}}" width="1000" height="2000" usemap="#mapa" />
                <map name="mapa">
                    {{#each sesion.chat.arregla}}
                        {{#each areasEnlace}}
                            <area shape="rect" coords="{{xIzquierda}},{{yArriba}},{{xDerecha}},{{yAbajo}}" href="/" />
                        {{/each}}
                    {{/each}}
                </map>
            </div>
            <hr class="verdeAstrid1">
            <input type='hidden' name='nombreUsuario' value={{nombreUsuario}}>
            <input type='hidden' name='idSesion' value={{sesion.id}}>
            <input type='hidden' name='id' value={{sesion.chat.id}}>
            <input type='hidden' name='mensajeTiempo' value=''/></p>
            <p>Mensaje: <input type='text' name='mensajeContenido' value=''/></p>
            <input type='submit' onclick="confirmacionMensaje()" value='Grabar' />
        {{/if}}
        <script
                src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket;
            $(document).ready(()=>{
                //socket = io.connect('http://34.69.82.100:3000');
                socket = io.connect('http://localhost:3000');
                socket.on('connection', function (data) {
                    console.log(data);
                });
            });
            function confirmacionMensaje(){
                socket.emit("confirmacionMensaje", {msg:'Se emitió un nuevo mensaje en el chat | {{nombreUsuario}}'});
            }
        </script>
    {{/if}}
</form>
