<form method='POST' action='/main/eliminarChat/confirmar'>
    <hr/>
    <h3>Eliminación</h3>
    <input type='hidden' name='id' value='{{chat.id}}'>
    <p>Conversación: {{chat.nombre}}</p>
    <p>Inicio: {{chat.inicio}}</p>
    <input type='submit' value='Confirmar eliminación' />
    <hr/>
    <a href='/'>Inicio</a> |
    <a href='/main/consultarConjuntoChats'>Conversaciones</a> |
    <a href="/main/presentarChat?id={{chat.id}}">{{chat.nombre}}</a> |
</form>