<div id="divPrincipal" class="divContenedorPrincipal">
    <div id="divPresentacionChat" class="divDibujo">
        <img id="imgChat" class="imgDibujo" usemap="#mapaChat">
        <map id="mapaChat" name="mapaChat"></map>
        <canvas id="canvasChat" width="1000" height="2000"></canvas>
    </div>
    <div id="divCapturaMensaje" class="divEmergente">
        <div id="divFormularioMensaje" class="divFormulario">
            <form method="POST" action="/main/grabarMensajeChatSesion">
                <input id="inpNombreUsuario" name="nombreUsuario" type="hidden" value="{{nombreUsuario}}">
                <input id="inpIdSesion" name="idSesion" type="hidden" value="{{sesion.id}}">
                <input id="inpIdChat" name="idChat" type="hidden" value="{{sesion.chat.id}}">
                <div id="divRedactarMensaje" class="divSubformulario">
                    <b><label id="lblRedactarMensaje" class="lblGuiaCaptura">Mensaje</label></b><br><br>
                    <textarea id="inpMensajeContenido" class="w3-input w3-round" name="mensajeContenido" type="text" style="resize: none" onchange="continuacionMensaje()"></textarea>
                </div>
                <div id="divGrabarMensaje" class="divSubformulario">
                    <button id="btnEnviarMensaje" class="w3-button w3-round btnControl" type="submit" onclick="emisionMensaje()">Enviar mensaje</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--
Cargue de scripts de inicialización de la vista Chat
-->
<script src="../javascripts/funcionesVistaChat.js"></script>
<script src="../javascripts/inicializacionVistaChat.js"></script>
<script src="../javascripts/dibujarCuadricula.js"></script>
<script type="text/javascript">inicializacionVistaChat("{{sesion.sesionJson}}");</script>
<script src="../javascripts/dibujarChat.js"></script>
<script type="text/javascript">dibujarChat("{{sesion.chat.chatJson}}","{{nombreUsuario}}");</script>
<!--
Inicialización sección de mensajería
-->
<script>
    let socket;
    $(document).ready(()=>{
        socket = io.connect(document.getElementById("urlServidor").innerHTML);
        socket.on("actualizacionChat", (data)=>{
            console.log("Evento: "+data);
            dibujarChat(data.chatRecuperado, "{{nombreUsuario}}");
            clickOcultarOpciones();
        });
        socket.on("ubicacion", function (data) {
            ubicarUsuario(data.usuario,"{{nombreUsuario}}","{{sesion.nombreModerador}}",data.seccion);
            if (data.usuario != "{{nombreUsuario}}") {
                if (document.getElementById("banderaReserva").innerHTML != "") {
                    socket.emit("reservaAnterior", {msg:"{{nombreUsuario}} continúa preparando un mensaje en el chat", sesion:"{{sesion.id}}", seccion:"Chat", usuario:"{{nombreUsuario}}"});
                }
                else {
                    socket.emit("respuestaUbicacion", {sesion:"{{sesion.id}}", seccion:"Chat", usuario:"{{nombreUsuario}}"});
                }
            }
        });
        socket.on("confirmacionUbicacion", function (data) {
            if (data.usuario != "{{nombreUsuario}}") {
                ubicarUsuario(data.usuario,"{{nombreUsuario}}","{{sesion.nombreModerador}}",data.seccion);
            }
        });
        socket.on("confirmacionAccion", function (data) {
            if (data.usuario != "{{nombreUsuario}}") {
                ubicarUsuario(data.usuario,"{{nombreUsuario}}","{{sesion.nombreModerador}}",data.seccion, true);
            }
        });
        socket.on("reunion", function (data) {
            if (data.usuario != "{{nombreUsuario}}") {
                alert(data.msg);
            }
        });
        socket.on("reserva", function (data) {
            if (data.usuario != "{{nombreUsuario}}") {
                if (document.getElementById("banderaReserva").innerHTML == "") {
                    ubicarUsuario(data.usuario,"{{nombreUsuario}}","{{sesion.nombreModerador}}",data.seccion,true);
                    document.getElementById("btnDesplegarOpcionesSesion").style.display = "none";
                } else {
                    socket.emit("reservaAnterior", {msg:"{{nombreUsuario}} continúa preparando un mensaje en el chat", sesion:"{{sesion.id}}", seccion:"Chat", usuario:"{{nombreUsuario}}"});
                }
            } else {
                document.getElementById("banderaReserva").innerHTML="X";
                ubicarUsuario(data.usuario,"{{nombreUsuario}}","{{sesion.nombreModerador}}",data.seccion,true);
            }
        });
        socket.on("reservaAnterior", function (data) {
            if (data.usuario != "{{nombreUsuario}}") {
                document.getElementById("btnDesplegarOpcionesSesion").style.display = "none";
                document.getElementById("banderaReserva").innerHTML = "";
                ubicarUsuario("{{nombreUsuario}}","{{nombreUsuario}}","{{sesion.nombreModerador}}","Chat");
                ubicarUsuario(data.usuario,"{{nombreUsuario}}","{{sesion.nombreModerador}}",data.seccion,true);
            }
        });
        socket.on("levantamientoReserva", function (data) {
            if (data.usuario != "{{nombreUsuario}}") {
                document.getElementById("btnDesplegarOpcionesSesion").style.display = "inline-block";
                document.getElementById("banderaReserva").innerHTML="";
            }
            ubicarUsuario(data.usuario,"{{nombreUsuario}}","{{sesion.nombreModerador}}",data.seccion);
        });
        socket.on("connection", function (data) {
            console.log(data);
        });
        socket.emit("ingresoEquipo", {msg:"{{nombreUsuario}} ingresó al chat", sesion:"{{sesion.id}}", seccion:"Chat", usuario:"{{nombreUsuario}}"});
    });
    function alertaMensaje(){
        socket.emit("reserva", {msg:"{{nombreUsuario}} prepara un mensaje en el chat", sesion:"{{sesion.id}}", seccion:"Chat", usuario:"{{nombreUsuario}}"});
    }
    function continuacionMensaje(){
        document.getElementById("inpMensajeContenido").value = removerCaracteresNoAceptados(document.getElementById("inpMensajeContenido").value);
        socket.emit("reserva", {msg:"{{nombreUsuario}} continúa preparando un mensaje en el chat", sesion:"{{sesion.id}}", usuario:"{{nombreUsuario}}"});
        document.getElementById("btnEnviarMensaje").style.display="inline-block";
        document.getElementById("btnEnviarMensaje").focus();
    }
    function emisionMensaje(){
        clickOcultarOpciones();
        socket.emit("levantamientoReserva", {msg:"{{nombreUsuario}} envió un mensaje en el chat", sesion:"{{sesion.id}}", usuario:"{{nombreUsuario}}"});
        document.getElementById("btnEnviarMensaje").style.display="none"
    }
    function desistimientoMensaje(){
        clickOcultarOpciones();
        socket.emit("levantamientoReserva", {msg:"{{nombreUsuario}} desistió de enviar un mensaje en el chat", sesion:"{{sesion.id}}", seccion:"Chat", usuario:"{{nombreUsuario}}"});
        document.getElementById("banderaReserva").innerHTML="";
    }
    function llamarReunion() {
        socket.emit("reunionEquipo", {msg:"{{nombreUsuario}} solicita reunirse en el chat", sesion:"{{sesion.id}}", usuario:"{{nombreUsuario}}"});
    }
    function salir(){
        if (document.getElementById("banderaReserva").innerHTML=="X") {
            socket.emit("levantamientoReserva", {msg:"{{nombreUsuario}} desistió de la reserva", sesion:"{{sesion.id}}", usuario:"{{nombreUsuario}}"});
        }
    }
</script>
