{{#if sesion}}
    <h3>
        <a href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
        {{sesion.nombre}} |
        <a href='/main/presentarSesion?id={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Planteamiento</a> |
        Chat |
        <a href='/main/presentarDiagramaSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Diagrama</a> |
    </h3>
    {{#if sesion.chat}}
        <div align="center" style="position:relative; background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
            <canvas id="canvasDibujo" width="1000" height="2000"></canvas>
            <img id="imagenMapa" width="1000" height="2000" usemap="#mapa" style="position:absolute;"/>
            <map id="mapa" name="mapa">
            </map>
            <script src="../javascripts/dibujarChat.js"></script>
            <script type="text/javascript">
                dibujarChat("canvasDibujo","{{sesion.chat.chatJson}}","{{nombreUsuario}}");
            </script>
        </div>
        <br>
        <a onclick="alertaMensaje()">Registrar mensaje</a> |
        <div id="capturarMensaje" style="display:none">
            <form method='POST' action='/main/grabarMensajeChatSesion'>
                <hr class="verdeAstrid1">
                <input type='hidden' name='nombreUsuario' value={{nombreUsuario}}>
                <input type='hidden' name='idSesion' value={{sesion.id}}>
                <input type='hidden' name='id' value={{sesion.chat.id}}>
                <input type='hidden' name='mensajeTiempo' value=''/>
                <p>Mensaje: <input id='mensajeContenido' type='text' name='mensajeContenido' value='' autofocus/></p>
                <input type='submit' value='Grabar' /> |
                <a onclick="desistimientoMensaje()">Desistir</a> |
            </form>
        </div>
    {{/if}}
{{/if}}

<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket;
    $(document).ready(()=>{
        socket = io.connect('http://34.69.82.100:3000');
        //socket = io.connect('http://localhost:3000');
        socket.on("actualizacionChat", (data)=>{
            console.log("Evento: "+data);
            dibujarChat("canvasDibujo", data.chatRecuperado, "{{nombreUsuario}}");
            $('#alerta').html(data.mensaje);
        });
        socket.on('atencion', function (data) {
            $('#alerta').html(data);
        });
        socket.on('connection', function (data) {
            console.log(data);
        });
    });
    function alertaMensaje(){
        socket.emit("preparacion", {msg:'Se prepara un nuevo mensaje en el chat | {{nombreUsuario}}'});
        document.getElementById("mensajeContenido").value='';
        document.getElementById("capturarMensaje").style.display='block';
        document.getElementById('mensajeContenido').focus();
    }
    function desistimientoMensaje(){
        socket.emit("desistimientoMensaje", {msg:'Se desistió de la emisión de un mensaje en el chat | {{nombreUsuario}}'});
        document.getElementById("capturarMensaje").style.display='none';
    }
</script>
