{{#if sesion}}
    <h3>
        <table style="width:100%">
            <tr>
                <th align="left">
                    <a onclick="salir()" href='/main/consultarConjuntoSesiones?nombreUsuario={{nombreUsuario}}'>Sesiones</a> |
                    {{sesion.nombre}}
                </th>
                <th align="right">
                    <a onclick="salir()" href='/main/presentarSesion?id={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>Planteamiento</a> |
                    Chat |
                    <a onclick="salir()" href='/main/presentarDiagramaSesion?idSesion={{sesion.id}}&nombreUsuario={{nombreUsuario}}'>{{sesion.nombreTipoDiagrama}}</a>
                </th>
            </tr>
        </table>
    </h3>
    {{#if sesion.chat}}
        <div align="center" style="position:relative; background-color:#D9D9D6; max-height: 600px;overflow: scroll;border:1px solid #1B4F72;">
            <canvas id="canvasDibujo" width="1000" height="2000"></canvas>
            <img id="imagenMapa" width="1000" height="2000" usemap="#mapa" style="position:absolute;"/>
            <map id="mapa" name="mapa">
            </map>
            <script src="../javascripts/dibujarChat.js"></script>
            <script type="text/javascript">
                dibujarChat("canvasDibujo","{{sesion.chat.chatJson}}","{{nombreUsuario}}");
            </script>
        </div>
        <br>
        <div id="registrarMensaje" style="display: block;">
            <a onclick="alertaMensaje()">Registrar mensaje</a> |
        </div>
        <div id="bloquearRegistrarMensaje" style="display: none;">
            <b id="reserva" style="color: #F1B434">...</b>
        </div>
        <div id="capturarMensaje" style="display:none">
            <form method='POST' action='/main/grabarMensajeChatSesion'>
                <div id="construirMensaje" style="display: block;">
                    <hr class="verdeAstrid1">
                    <input type='hidden' name='nombreUsuario' value={{nombreUsuario}}>
                    <input type='hidden' name='idSesion' value={{sesion.id}}>
                    <input type='hidden' name='id' value={{sesion.chat.id}}>
                    <input type='hidden' name='mensajeTiempo' value=''/>
                </div>
                <div id="grabarMensaje" style="display: block;">
                    <p>Mensaje: <input id='mensajeContenido' type='text' name='mensajeContenido' value='' autofocus/></p>
                    <input onkeypress="continuacionMensaje()" onclick="emisionMensaje()" type='submit' value='Grabar' /> |
                    <a onclick="desistimientoMensaje()">Desistir</a> |
                </div>
            </form>
        </div>
    {{/if}}

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket;
        $(document).ready(()=>{
            socket = io.connect('http://34.69.82.100:3000');
            //socket = io.connect('http://localhost:3000');
            socket.on("actualizacionChat", (data)=>{
                console.log("Evento: "+data);
                dibujarChat("canvasDibujo", data.chatRecuperado, "{{nombreUsuario}}");
            });
            socket.on('atencion', function (data) {
                $('#alerta').html(data);
                document.getElementById('alerta').style='color:#F1B434';
                document.getElementById('alerta').style.background='#228848';
                setTimeout(() => {
                    document.getElementById('alerta').style.background='#FFFFFF';
                }, 1000);
                setTimeout(() => {
                    document.getElementById('alerta').style='color:#228848';
                }, 1000);
            });
            socket.on('reunion', function (data) {
                alert(data);
            });
            socket.on('reserva', function (data) {
                if (data.usuario != '{{nombreUsuario}}') {
                    if (document.getElementById("banderaReserva").value == "") {
                        document.getElementById("registrarMensaje").style.display = "none";
                        document.getElementById("grabarMensaje").style.display = "none";
                        document.getElementById("bloquearRegistrarMensaje").style.display = "block";
                        $('#reserva').html(data.msg);
                    } else {
                        socket.emit("reservaAnterior", {msg:'{{nombreUsuario}} continúa preparando un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
                    }
                } else {
                    document.getElementById("banderaReserva").value="X";
                }
            });
            socket.on('reservaAnterior', function (data) {
                if (data.usuario != '{{nombreUsuario}}') {
                    document.getElementById("registrarMensaje").style.display = "none";
                    document.getElementById("construirMensaje").style.display = "none";
                    document.getElementById("grabarMensaje").style.display = "none";
                    document.getElementById("bloquearRegistrarMensaje").style.display = "block";
                    document.getElementById("banderaReserva").value = "";
                    $('#reserva').html(data.msg);
                }
            });
            socket.on('levantamientoReserva', function (data) {
                if (data.usuario != '{{nombreUsuario}}') {
                    document.getElementById("registrarMensaje").style.display = "block";
                    document.getElementById("construirMensaje").style.display = "none";
                    document.getElementById("grabarMensaje").style.display = "none";
                    document.getElementById("bloquearRegistrarMensaje").style.display = "none";
                    document.getElementById("banderaReserva").value="";
                    $('#reserva').html(data.msg);
                }
            });
            socket.on('connection', function (data) {
                console.log(data);
            });
            socket.emit("ingresoEquipo", {msg:'{{nombreUsuario}} ingresó al chat', sesion:'{{sesion.id}}'});
        });
        function alertaMensaje(){
            socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} prepara un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
            socket.emit("reserva", {msg:'{{nombreUsuario}} prepara un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
            document.getElementById("mensajeContenido").value='';
            document.getElementById("capturarMensaje").style.display='block';
            document.getElementById("construirMensaje").style.display='block';
            document.getElementById("grabarMensaje").style.display='block';
            document.getElementById('mensajeContenido').focus();
        }
        function continuacionMensaje(){
            socket.emit("reserva", {msg:'{{nombreUsuario}} continúa preparando un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
        }
        function emisionMensaje(){
            document.getElementById("capturarMensaje").style.display='none';
            socket.emit("levantamientoReserva", {msg:'{{nombreUsuario}} envió un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
        }
        function desistimientoMensaje(){
            socket.emit("notificacionEquipo", {msg:'{{nombreUsuario}} desistió de enviar un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
            socket.emit("levantamientoReserva", {msg:'{{nombreUsuario}} desistió de enviar un mensaje en el chat', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
            document.getElementById("banderaReserva").value='';
            document.getElementById("capturarMensaje").style.display='none';
        }
        function llamarReunion() {
            socket.emit("reunionEquipo", {msg:'{{nombreUsuario}} solicita reunirse en el chat', sesion:'{{sesion.id}}'});
        }
        function salir(){
            if (document.getElementById("banderaReserva").value=='X') {
                socket.emit("levantamientoReserva", {msg:'{{nombreUsuario}} desistió de la reserva', sesion:'{{sesion.id}}', usuario:'{{nombreUsuario}}'});
            }
        }
    </script>

{{/if}}
